.mt{
    &_0{ margin-top: 0; }
    &_5{ margin-top: 5px; }
  &_10{ margin-top: 10px; }
  &_15{ margin-top: 15px; }
  &_20{ margin-top: 20px; }
  &_25{ margin-top: 25px; }
  &_40{ margin-top: 40px; }
}

.mb{
  &_0{ margin-bottom: 0; }
  &_5{ margin-bottom: 5px; }
&_10{ margin-bottom: 10px; }
&_15{ margin-bottom: 15px; }
&_20{ margin-bottom: 20px; }
&_25{ margin-bottom: 25px; }
&_40{ margin-bottom: 40px; }
}