.page-training{
    background:url(/images/training/bg.jpg) no-repeat center top / cover;



    &__panel-item{
        padding-bottom: 60px;
        &_pb-40{
            padding-bottom: 40px;
        }
    }
    
}