.z-f-din{
    font-family: 'PF DinDisplay Pro',  'Times New Roman', Times, serif;


    h1, h2, h3, h4, h5, h6{
        font-family: inherit;
    }
}

.z-h{
    font-weight: 400;
    margin-top: 7px;
    line-height: 1.2em;

    &_4{
        font-size: 1.9em;
    }
    &_5{
        font-size: 1.25em;
    }

    &_g{
        color: $green;
    }
}

.z{
    p{
        margin-bottom: 20px;
        &:last-of-type{
            margin-bottom: 0;
        }
    }
}